*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.lampochka{
    width: 700px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.lampochka p{
    width: 100px;
    padding: 14px;
    background-color: #dbdbdb;
    text-align: center;
    color: #dbdbdb;
}
.lampochka .anteba{
    background-color: #008840;
}
.lampochka .chakroba{
    background-color: #880000;
}
.lampochka p:hover , .universal:hover{
    cursor: pointer;
    opacity: 0.9;
}

.universal{
    width: 700px;
    background-color: #008840;
    color: #dbdbdb;
    margin: 50px auto;
    padding: 14px;
    text-align: center;
}